# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  workflow_dispatch:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cpplint:
    name: cpplint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-cpplint
          path: ~/.cache/pip

      - name: Pyhton
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: cpplint
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade cpplint
          cpplint \
            --repository=. \
            --recursive \
            --filter=-whitespace/line_length,-whitespace/braces,-whitespace/comments,-runtime/indentation_namespace,-whitespace/indent,-readability/braces,-whitespace/newline,-readability/todo,-build/c++11 \
            src

  MycilaShutterSpeedTester:
    name: MycilaShutterSpeedTester-${{ matrix.board }}.bin
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board: ["m5stack-atoms3"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Tags
        run: git fetch --force --tags origin

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-pio
          path: |
            ~/.cache/pip
            ~/.platformio

      - name: Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          pip install --upgrade intelhex
          pip install --upgrade rich_click
          ref="${{ github.ref_name }}"
          ref="${ref//\//}"
          REF_NAME="${{ github.ref_name }}" pio run -e ${{ matrix.board }}
          cp .pio/build/${{ matrix.board }}/firmware.factory.bin ./MycilaShutterSpeedTester-$ref-${{ matrix.board }}.bin

      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.board }}
          if-no-files-found: error
          path: |
            *.bin

  release:
    name: Release
    if: ${{ github.repository_owner == 'mathieucarbou' && github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    needs: [MycilaShutterSpeedTester]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download
        uses: actions/download-artifact@v6
        with:
          path: artifacts/

      - name: Move
        run: |
          ls -R artifacts
          find artifacts -name '*.bin' -exec mv {} artifacts/ \;

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/*.bin
            tools/factory.py

  dev:
    name: Release
    if: ${{ github.repository_owner == 'mathieucarbou' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [MycilaShutterSpeedTester]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download
        uses: actions/download-artifact@v6
        with:
          path: artifacts/

      - name: Move
        run: |
          ls -R artifacts
          find artifacts -name '*.bin' -exec mv {} artifacts/ \;
